In [1]:
# Question 1
# Write a python script to create a databse of students named Students.
# Please note that while the following questions require us to work on 2 columns but I have introduced a 3rd column which
# is a primary key

import sqlite3
try:
    con=sqlite3.connect('Students.db')
    cur=con.cursor()
    query='create table Marks(Rno number(5) primary key, Name varchar(10), Marks int(3))'
    cur.execute(query)
    print("Table created Succesfully")
    con.commit()
except:
    if con:
        con.rollback()
        print("Rolled Back")
finally:
    if con:
        cur.close()
        con.close()
        print("Done!")

Table created Succesfully
Done!

In [5]:
#Question 2 
#Take students name and marks(between 0-100) as input from user 10 times using loops.

Students=[]
for i in range(0,10):
    rec1 = int(input("Enter student's roll number "))
    rec2 = input("Enter Student Name ")
    rec3 = int(input("Enter Marks "))
    records = (rec1, rec2, rec3)
    Students.append(records)

Enter student's roll number 1
Enter Student Name a
Enter Marks 10
Enter student's roll number 2
Enter Student Name b
Enter Marks 20
Enter student's roll number 3
Enter Student Name c
Enter Marks 30
Enter student's roll number 4
Enter Student Name d
Enter Marks 40
Enter student's roll number 5
Enter Student Name e
Enter Marks 50
Enter student's roll number 6
Enter Student Name f
Enter Marks 60
Enter student's roll number 7
Enter Student Name g
Enter Marks 70
Enter student's roll number 8
Enter Student Name h
Enter Marks 80
Enter student's roll number 9
Enter Student Name i
Enter Marks 90
Enter student's roll number 10
Enter Student Name j
Enter Marks 100

In [6]:
#Question 3
#Add these values in two columns named "Name" and "Marks" with the appropriate data type.
# Note: The query used by me also has a primary key Rno which will also be needed to be appended

try:
    con=sqlite3.connect("Students.db")
    cur=con.cursor()
    query='insert into Marks(Rno, Name, Marks) values (?, ?, ?)'
    cur.executemany(query,Students)
    print("Added")
    con.commit()
except:
    con.rollback()
    print("RolledBack")
finally:
    cur.close()
    con.close()
    print("Done!!")

Added
Done!!

In [7]:
#Question 4
#Print the names of all the students who scored more than 80 marks.

try:
    con = sqlite3.connect('Students.db')
    cur = con.cursor()
    query = 'select * from Marks where Marks>80'
    cur.execute(query)
    Stu = cur.fetchall()
    con.commit()
except:
    if con:
        con.rollback()
finally:
    print("Students with Marks More Than 80:")
    print('RNO     NAME     Marks')
    for i in range(0,len(Stu)):
        print('{}         {}        {}'.format(Stu[i][0], Stu[i][1], Stu[i][2]))
    if con:
        cur.close()
        con.close()
        print("DONE!")

Students with Marks More Than 80:
RNO     NAME     Marks
9         i        90
10         j        100
DONE!